<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Word Count Checker</title>
  </head>
  <body>
    <div class="container">
      <header class="page-header">
        <h4 class="header">Ruby | Week One | Independent Project </h4>
      </header>
      <div class="jumbotron">
        <h1>Word Count!</h1>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <div class="container">
      <hr>
      <footer class="footer">
        <p>Maldon Meehan &copy; 2016, Epicodus Student Project</p>
      </footer>
    </div>
  </body>
</html>
