body {
  background-color: #77a8a8;
}

h1 {
  text-align: center;
  font-family: 'Monoton', cursive;
}

p {
  text-align: center;
  color: #622569
}

ul {
  list-style: none;
  font-size: 2em;
  text-align: center;
  color: #622569
}

.form-control {
  margin-bottom: 10px;
  max-width: 50%;
}

.btn {
  background-color: #b9b0b0;
  border: 1px solid black;
  font-family: 'Monoton', cursive;
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 10px;
  min-width: 200px;
  display: block;
  margin: auto;
}
